.navbar_container {
  display: flex;
  justify-content: flex-end;
  height: 70px;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px #ccc;
  width: 100%;
}

.navbar_ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  align-items: center;
  color: #888;
}

.navbar_ul li {
  margin-right: 10px;
}

.navbar_ul li svg {
  margin-right: 20px;
}

.navbar_ul li:nth-child(2),
.navbar_ul li:nth-child(3) {
  margin-right: 0;
}

.navbar_ul hr {
  width: 40px;
  transform: rotate(90deg);
  margin: 0;
}

.navbar_ul .navbar_icon {
  height: 40px;
  width: 20px;
}

.icon_note_wrapper {
  position: relative;
}

.navbar_ul li span {
  position: absolute;
  background-color: #e64433;
  border-radius: 5px;
  color: #fff;
  font-size: 9px;
  padding: 2px 5px;
  top: 0;
  right: 0em;
}

.navbar_figure {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  min-width: max-content;
}

.navbar_figure legend {
  margin-right: 10px;
}

.navbar_figure .navbar_img {
  height: 40px;
  width: 40px;
  border-radius: 100%;
}
